# Build artifacts
insolvency-api
insolvency-api-*.zip
build.log

#VS Code files
/.vscode/*
!/.vscode/settings.json

# Test output
test.xml
coverage.out

# Lint output
lint.txt

# GoLand files
.idea/
*.iml

# Mac files
.DS_Store
._*
